@import "tailwindcss";

:root {
  /* Base colors */
  --background: #ffffff;
  --foreground: #171717;

  /* Primary colors (Purple) */
  --color-primary-1: #f3e8ff;
  --color-primary-2: #e9d5ff;
  --color-primary-3: #d8b4fe;
  --color-primary-4: #c084fc;
  --color-primary-5: #a855f7;
  --color-primary-6: #9333ea;
  --color-primary-7: #7e22ce;
  --color-primary-8: #6b21a8;
  --color-primary-9: #581c87;

  /* secondary colors (Blue) */
  --color-secondary-1: #dbeafe;
  --color-secondary-2: #bfdbfe;
  --color-secondary-3: #93c5fd;
  --color-secondary-4: #60a5fa;
  --color-secondary-5: #3b82f6;
  --color-secondary-6: #2563eb;
  --color-secondary-7: #1d4ed8;
  --color-secondary-8: #1e40af;
  --color-secondary-9: #1e3a8a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
    /* Adjust primary colors for dark mode */
    --color-primary-1: #581c87;
    --color-primary-2: #6b21a8;
    --color-primary-3: #7e22ce;
    --color-primary-4: #9333ea;
    --color-primary-5: #a855f7;
    --color-primary-6: #c084fc;
    --color-primary-7: #d8b4fe;
    --color-primary-8: #e9d5ff;
    --color-primary-9: #f3e8ff;

    /* Adjust primary colors for dark mode */
    --color-primary-1: #1e3a8a;
    --color-primary-2: #1e40af;
    --color-primary-3: #1d4ed8;
    --color-primary-4: #2563eb;
    --color-primary-5: #3b82f6;
    --color-primary-6: #60a5fa;
    --color-primary-7: #93c5fd;
    --color-primary-8: #bfdbfe;
    --color-primary-9: #dbeafe;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

